<launch>
    <arg name="config_path" default = "../config/setup.yaml" />
    
    <node pkg="estimator" type="estimator" name="estimator" required = "true" respawn="false" output="screen"> 
        <param name="config_path"     type="string" value="$(find estimator)$(arg config_path)" />
    </node>
</launch>
